<h2 mat-dialog-title>{{myData.titulo}}</h2>
<mat-dialog-content>
  <p>{{myData.mensaje}}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Entendido</button>
</mat-dialog-actions>
