<mat-card (click)="verDetalle()" class="animate__animated animate__bounceInRight puntero">
    <img mat-card-image [src]="superheroe.imagen">
    <div class="titulo-card">
        <mat-card-title>{{superheroe.nombre}}</mat-card-title>
    </div>
</mat-card>
