@import "../../../../node_modules/@material/theme";
$blanco-letras: #ffffff;

mat-card {
    height: 22rem;
    display: ruby-text!important;
    img {
        width: 20rem;
        height: 17rem;
        object-fit: cover;
    }
    .titulo-card {
        background-color: rgba($grey-500, 0.5);
        width: 20rem;
        height: 5rem;
        position: absolute;
        top: 89%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 14px;
        z-index: 1;
        mat-card-title {
            text-align: center;
            margin-top: 1.5rem;
            z-index: 2;
            color: $blanco-letras;
        }
    }
}

mat-card:hover {
    .titulo-card {
        background-color: rgba($grey-800, 0.5);
    }
}

@media (max-width: 991px) {
    mat-card {
        height: 17rem;
        img {
            width: 15rem;
            height: 13rem;
        }
        .titulo-card {
            height: 4.2rem;
            mat-card-title {
                font-size: 16px;
                margin-top: 0.6rem;
            }
        }
    }
}

@media (max-width: 767px) {
    mat-card {
        height: 14rem;
        img {
            width: 11rem;
            height: 10rem;
        }
        .titulo-card {
            height: 5.2rem;
            mat-card-title {
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 522px) {
    mat-card mat-card-title {
        margin-top: 0.2rem!important;
    }
}

@media (max-width: 464px) {
    mat-card mat-card-title {
        margin-top: 0.06rem!important;
        font-size: 9px!important;
    }
}