<h2 class="texto-centrado">DETALLES DE {{superheroe.nombre | uppercase}}</h2>
<div class="detalle animate__animated animate__bounceInRight">
    @if(!banderaLoading) {
        <img [src]="superheroe.imagen">
        <div class="datos-detalle">
            <p><span class="nombreDato">Nombre:</span><span class="dato"> {{superheroe.nombre}}</span></p>
            <p><span class="nombreDato">Última modificación:</span><span class="dato"> {{superheroe.modificacion | date:"dd 'del' MM 'de' yyyy"}}</span></p>
            <p><span class="nombreDato">Número de comics:</span><span class="dato"> {{superheroe.comics}}</span></p>
            <p><span class="nombreDato">Número de series:</span><span class="dato"> {{superheroe.series}}</span></p>
            <p><span class="nombreDato">Número de historias:</span><span class="dato"> {{superheroe.historias}}</span></p>
            <p><span class="nombreDato">Número de eventos:</span><span class="dato"> {{superheroe.eventos}}</span></p>
            <button mat-flat-button color="primary" routerLink="/listado" class="botonEstandar"><mat-icon>replay</mat-icon> Volver</button>
        </div>
    } @else {
        <mat-spinner class="spinnerDatos"></mat-spinner>
    }
</div>

