@import "../../../../node_modules/@material/theme";

.detalle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($grey-200, 0.5);
    margin: auto;
    width: 68em;
    height: 37em;
    border-radius: 14px; 
    img {
        width: 30rem!important;
        height: 30rem!important;
        border-radius: 14px;
    }
    .datos-detalle {
        font-size: 24px;
        padding-left: 2em;
        .nombreDato {
            font-weight: bold;
        }
    }
}