<div (scroll)="eventoScroll($event)">
<h2 class="texto-centrado">LISTADO DE SUPERHEROES MARVEL</h2>
<mat-form-field class="example-full-width">
    <mat-label>Buscar</mat-label>
    <input matInput placeholder="Ej. Thor" [(ngModel)]="inputBuscador">
</mat-form-field>
<button (click)="getSuperheroes()" mat-flat-button color="primary" class="botonEstandar botonBuscar"><mat-icon>near_me</mat-icon> Buscar</button>
<mat-grid-list cols="3">
    @for (mySuperheroe of superherores; track mySuperheroe.id) {
        <mat-grid-tile>
            <app-tarjeta [superheroe]="mySuperheroe" (eventoVerDetalle)="verDetalle($event)"></app-tarjeta>
        </mat-grid-tile>
    }
</mat-grid-list>
</div>
@if(banderaLoading) {
    <mat-spinner class="spinnerDatos"></mat-spinner>
}
@if(banderaScroll) {
    <mat-spinner class="spinnerScroll"></mat-spinner>
}
@if(superherores.length == 100) {
    <p class="aviso texto-centrado">Solo se pueden visualizar 100 superheroes a la vez.</p>
}


