@import '../node_modules/animate.css/animate.min.css';
@import "../node_modules/@material/theme";

.puntero {
  cursor: pointer;
}

.texto-centrado {
  text-align: center !important;
}

body { 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: $grey-50;
}
.contenedor-principal {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: 4em;
    margin-right: auto;
    margin-left: auto;
}

h2 {
  margin-bottom: 1em!important;
}

.botonEstandar {
  mat-icon, span {
    font-size: 20px;
  }
}

.spinnerDatos {
  width: 30rem;
  height: 30rem;
  margin-right: auto;
  margin-left: auto; 
}

.aviso {
  color: $orange-800;
  margin-bottom: 4rem!important;
  font-size: 22px;
}

@media (max-width: 991px) {
  h2 {
    font-size: 35px!important;
  }
}

@media (max-width: 767px) {
  h2 {
    margin-top: -2rem !important;
    font-size: 27px!important;
  }
}

@media (max-width: 464px) {

}

@media (max-width: 522px) {
  h2 {
    font-size: 22px!important;
  }
}

@media (min-width: 576px) {
    .contenedor-principal {
      max-width: 540px;
    }
  }
@media (min-width: 768px) {
    .contenedor-principal {
      max-width: 720px;
    }
}
@media (min-width: 992px) {
    .contenedor-principal {
      max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .contenedor-principal {
      max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .contenedor-principal {
      max-width: 1320px;
    }
}
